<br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
    <div class="table-responsive">
    
        <table class="table table-inverse table-hover">
    
        <thead>

            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre Artista</th>                
                <th>Preview</th>
                <th>link del artista</th>
            </tr>
        </thead>

    <tbody>
        <tr *ngFor="let a of artists; let i = index;">
            <td> {{ i+1 }}</td>
                <td>
                    <img [src]="a.images[1].url" class="img-fluid img-50">
                </td>
            <td>{{ a.name }}</td>
            <td>
                <iframe [src]="a.uri |
                domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80"
                frameborder="0" allowtransparency="true"></iframe>
            </td>
            
            <td>
                <a [routerLink]="['/artist', a.id]">Ver detalle</a>
            </td>
        </tr>
    </tbody>
</table>
